<nav class="navbar navbar-expand-lg bg-white shadow-sm fixed-top">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" routerLink="/home">
      <img src="LOGO.png" alt="IRDO Logo" height="70" />
      <h3 class="head ms-3">IRDO</h3>
    </a>
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
      aria-controls="mainNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="toggler-icon"></span>
      <span class="toggler-icon"></span>
      <span class="toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-center"
      id="mainNavbar"
    >
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link custom-link" routerLink="/home" fragment="about"
            >About Us</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" routerLink="/home" fragment="impact"
            >Impact</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" routerLink="/home" fragment="whatwedo"
            >What We Do</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link custom-link"
            routerLink="/home"
            fragment="becomeADoner"
            >Become a Donor</a
          >
        </li>
      </ul>
      <a routerLink="/home" fragment="becomeADoner" class="btn donate-btn"
        >Donate Us</a
      >
    </div>
  </div>
</nav>
