<section class="hero">
  <img src="HERO1.jpg" alt="Group of children" class="hero-image" />
  <div class="hero-text">
    <h1 class="fs">Small Effort. Make Big Change</h1>
    <p>
      Through education, healthcare, women empowerment, and livelihoods, we work
      in the heart of rural communities where help is needed the most.
    </p>
    <a routerLink="/donate" class="button-primary">Help Us Reach More</a>
  </div>
</section>
<div>
  <section>
    <app-about-us></app-about-us>
  </section>
  <section>
    <app-impact></app-impact>
  </section>
  <section>
    <app-what-we-do></app-what-we-do>
  </section>
  <section>
    <app-become-adoner></app-become-adoner>
  </section>
  <section>
    <app-payment-page></app-payment-page>
  </section>
</div>
