<div class="payment-page">
  <div class="payment-left">
    <h3 class="head">
      Join our mission. Volunteer,<br>
      Donate, Advocate. Get<br>
      started today.
    </h3>
    <button class="donate-btn" routerLink="/home" fragment="becomeADoner">Become a Donor</button>
  </div>
  <div class="payment-right">
    <h4>SCAN TO DONATE</h4>
    <img src="qrmain.jpg" alt="QR Code" class="qr-img">
  </div>
</div>
<div class="bank-cont">
    <div class="bank-left">
        <h3>Support Us Through Bank Transaction</h3>
    </div>
    <div class="bank-right">
        <ul>
            <li>Bank Details: IRDO</li>
            <li>Account Number: 30722010003190</li>
            <li>Bank Name: Canara Bank</li>
            <li>Branch: Karmanghat</li>
            <li>IFSC Code: CNRB0005488</li>
            <li>UPI ID : [yourupi&#64;bank]</li>
        </ul>
        <h3>Phone Number - 9966108788</h3>
    </div>
</div>
